<h2 class="m-2"><%= @lead.name %></h2>
<p class="m-2">Email: <%= @lead.email %></p>

<h4>Conversaciones</h4>
<ul>
  <% @conversations.each do |conversation| %>
    <li>
       <%= conversation.detail.present? ? conversation.detail : "Sin detalle" %>
    </li>
  <% end %>
</ul
