<h2><%= @lead.name %></h2>
<p>Email: <%= @lead.email %></p>

<h3>Conversaciones</h3>
<ul>
  <% @conversations.each do |conversation| %>
    <li>
      <%= conversation.detail%>
    </li>
  <% end %>
</ul>
